.homepage #panelsContainer {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 280px 40px 1fr 40px;
    -ms-grid-rows: 1fr;
}
.homepage #panelsContainer:before {
	width: 280px;
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	background-color: #f0f0f0;
	
	content: '';
	display: block;
}

.homepage header[role="banner"] .chevron {
    display: none;
}
.homepage header[role="banner"] .titlearea {
	display: none;
}
.homepage .win-appbar {
    background-color: rgb(46, 117, 182);
}
.homepage #channelsPanel {
    -ms-grid-column: 1;
	margin-top: -95px;
}
.homepage #channelsPanel h2 {
    padding-left: 20px;
}
.homepage #channelsPanel #channels {
    height: calc(100% - 70px);
}
.homepage #channelsPanel #channels .win-container {
    margin-left: 0;
    margin-right: 0;
	background-color: transparent;
}
.homepage #channelsPanel #channels .win-container:hover {
    outline-style: none;
}
.homepage #channelsPanel #channels .win-selectionbackground {
    background-color: #c0c0c0;
}
.homepage #channelsPanel #channels .win-selectionborder {
    border-color: #c0c0c0;
}
.homepage #channelsPanel #channels .win-selectioncheckmark {
    display: none;
}
.homepage #channelsPanel #channels .win-selectioncheckmarkbackground {
    display: none;
}

.homepage #channelsPanel #channels .listViewItemChannel {
    padding: 0.5em;
    padding-left: 60px;
    display: -ms-grid;
    -ms-grid-columns: 178fr 40px 5px;
}
.homepage #channelsPanel #channels .is-special .listViewItemChannel {
    padding-left: 40px;
}
.homepage #channelsPanel #channels .has-unread .listViewItemChannel {
    font-weight: bold;
}
.homepage #channelsPanel #channels .listViewItemChannel:hover {
    background-color: #c4d6e7;
}
.homepage #channelsPanel #channels .is-selected .listViewItemChannel {
    background-color: rgb(46, 117, 182);
    color: #fff;
}
.homepage #channelsPanel #channels .listViewItemChannel .channel-name {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -ms-grid-column: 1;
    display: block;
    overflow: hidden;
}
.homepage #channelsPanel #channels .listViewItemChannel .channel-unread-count {
    -ms-grid-column: 2;
    display: block;
}
.homepage #channelLogPanel {
    -ms-grid-column: 3;
    
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 326fr 0px 21fr 20px;
    width: 100%;
    height: calc(100% + 95px);
	margin-top: -95px;
}
.homepage #channelLogPanel #channelLogViewArea h2 {
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.homepage #channelLogPanel #channelLogViewArea {
    display: -ms-grid;
    -ms-grid-rows: 40px 1fr;
    -ms-grid-columns: 1fr;
}
.homepage #channelLogPanel #channelLogViewArea h2 {
    -ms-grid-row: 1;
}
.homepage #channelLogPanel #channelLogViewArea #channelLog {
    -ms-grid-row: 2;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -ms-word-break: break-all;
}
.homepage #channelLogPanel #channelLogViewArea #channelLog img {
    max-width: 120px;
    height: 120px;
    vertical-align: top;
}
.homepage #channelLogPanel .win-container:nth-child(2n)  .listViewItemChannelLog {
    height: 1em;
    background-color: #fff0f0;
}

.homepage #channelLogPanel #channelLogInputArea {
    -ms-grid-row: 3;
}

.homepage #channelLogPanel #channelLogInputArea #channelInput {
    width: 100%;
}

.homepage .channelLogView {
}
.homepage .channelLogView .channelLogViewLine {
    display: -ms-grid;
    -ms-grid-columns: 60px 5px 95px 5px auto;
    margin-bottom: 5px;
}
.homepage .channelLogView .message-type-NOTICE .channelLogViewLine {
    color: #7ba48f;
}
.homepage .channelLogView .channelLogViewLine .time {
    display: block;
    -ms-grid-column: 1;
    color: #c0c0c0;
}
.homepage .channelLogView .channelLogViewLine .nickname {
    display: block;
    -ms-grid-column: 3;
}
.homepage .channelLogView .channelLogViewLine .message {
    display: block;
    -ms-grid-column: 5;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}

/*
 * Snapped View State
 */
@media screen and (-ms-view-state: snapped) {
    .homepage {
		-ms-grid-rows: 64px 1fr 0px;
	}
    .homepage header[role="banner"] .titlearea {
		margin-top: 20px;
		display: block;
	}
    .homepage header[role="banner"] .chevron {
        display: inline;
    }
    .homepage #panelsContainer {
        display: block;
    }
	.homepage #panelsContainer:before {
		display: none;
	}
    .homepage #channelsPanel {
        display: none;
    }
    .homepage #channelLogPanel {
        width: calc(100% - 40px);
		height: calc(100%);
        padding-left: 20px;
		margin-top: 0;
    }
    .homepage .channelLogView .channelLogViewLine {
        display: block;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 0.25em;
    }

    .homepage .channelLogView .channelLogViewLine .time {
        display: inline;
    }
    .homepage .channelLogView .channelLogViewLine .nickname {
        display: inline;
    }
}

/*
 * SettingsFlyout
 */
.channel-members .win-settings-section #members {
    overflow: visible;
}
.channel-members .win-settings-section #members .win-viewport {
    overflow-y: visible;
}
.channel-members .win-settings-section #members .win-selectioncheckmarkbackground {
    display: none;
}

.setting-connections {
}
.setting-connections input:invalid {
    outline-style: solid;
}
.setting-connections #settingChannels {
    width: 100%;
}